# Ignore everything by default
/*
# Keep this .gitignore
!.gitignore

# Unignore the parent directories we need
!/libs
!/libs/Personal_Libraries
!/libs/Personal_Libraries/**
!/Documents
!/Documents/**

# Explicitly ignore History subfolders inside those directories
/libs/Personal_Libraries/History/
/Documents/History/

# End